/* File: stile.css */
.paragrafo-colorato {color: #ec0808fa;}
p {
    color: rgba(246, 5, 5, 0.89);
    text-align: right;
}
.testo-destra {
    text-align: right;
}
h1 {
    color:rgba(246, 5, 5, 0.89)
}
h2 {
    color: blue;
}
h3 {
    color:blueviolet
}
h4 {
    color:aqua
}
h5 {
    color:#13ec08fa
}
h6 {
    color: #ecec08fa;
}
#contenitore-colorato {
    background-color: #ff00cc;
    padding: 20px;
    border-radius: 8px;
}
.testo-grande {
    font-size: 30px;
}
.testo-grande {
    font-size: 24px;
    color:black;
}

.sfondo-blu {
    background-color:yellow;
    padding: 20px;
}

.bordi-arrotondati {
    border-radius: 15px;
}